In [1]:
import pandas as pd
from fourinarowfunctions import *

In [2]:
datadir = '../data/'
filename = datadir + 'trialdata.csv'
data_dict = load_data(filename, verbose = False)

In [3]:
quiz_list = get_quiz_answers(data_dict)
quiz_df = pd.DataFrame(quiz_list)
quiz_df["count"] = 1

In [4]:
quiz_df.head()

,subject,image,expected,given,correct,rt_ms,count
0,166:R_9Nac2hjg6u7BlS1,blackHorizontal.png,Black,Black,True,8770,1
1,166:R_9Nac2hjg6u7BlS1,whiteDiagonal.png,White,White,True,2511,1
2,166:R_9Nac2hjg6u7BlS1,whiteVertical.png,White,White,True,2132,1
3,166:R_9Nac2hjg6u7BlS1,whiteNoWin.png,No-one,No-one,True,6503,1
4,166:R_9Nac2hjg6u7BlS1,blackDiagonal.png,Black,Black,True,1919,1

In [5]:
quiz_per_question = quiz_df.groupby("image").sum()
quiz_per_question["avg_rt_s"] = quiz_per_question["rt_ms"] / 1000 / quiz_per_question["count"]
quiz_per_question["correct_ratio"] = quiz_per_question["correct"] / quiz_per_question["count"]
quiz_per_question

                     correct    rt_ms  count  avg_rt_s  correct_ratio
image
blackDiagonal.png        192   502343    193  2.602813       0.994819
blackHorizontal.png      188  1376763    193  7.133487       0.974093
whiteDiagonal.png        192   504717    193  2.615114       0.994819
whiteNoWin.png           171   823112    193  4.264829       0.886010
whiteVertical.png        192   503569    193  2.609166       0.994819